.MecDif1{
    border-style: none;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    height: 580px;
    text-align: center;
    font-style: italic;
    font-size: large;
    margin: 15px;
    padding: 15px;
    
}
.MecDif{
    border-style: none;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    height: 700px;
    text-align: center;
    font-style: italic;
    font-size: large;
    margin: 15px;
    padding: 15px;
    
}

.photo0{
    background: url(https://upload.wikimedia.org/wikipedia/commons/6/66/NAMA_Machine_d%27Anticythère_1.jpg?uselang=ru) center no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px black ;
}
.photo1{
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Arts_et_Metiers_Pascaline_dsc03869.jpg/800px-Arts_et_Metiers_Pascaline_dsc03869.jpg) center no-repeat;
    width: 350px;
    height: 200px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px black ;
}
.photo2{
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/BabbageDifferenceEngine.jpg/350px-BabbageDifferenceEngine.jpg) center no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px black ;
}
.photo3{
    background: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Curta01.JPG) center no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px black ;
}
.photo4{
    background: url(https://upload.wikimedia.org/wikipedia/commons/5/5a/MONIACdashboard.jpg) center no-repeat;
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

.half{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.half2{
    max-width: 450px;
    
    margin-left: auto;
    margin-right: auto;
}
.place{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.mai{
    background-color: black;
    margin: 20pt;
    
}
.shrift{
    font-size: larger;
    flex-wrap: wrap;
}
.H{
    text-align: center;
}
